*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main{
    width: 100%;
    height: 720px;
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
}
.trai{
    width: 30%;

}

.logo img{
    width: 200px;
    margin-top: 90px;
}
.logo h2{
    margin-left: 20px;
    font-weight: 500;
}
.logo p{
    margin: 5px 0 20px 20px;
    color: #606770;
    font-size: 13px;

}
.accu img{
    width: 150px;
    height: 160px;
    border-radius: 5px;
}
.box{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.box1{
    margin-right: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #606770;
}

.box1 p{
    padding: 5px;
}
.box1 a{
    color:#166FE5 ;
    text-decoration: none;
}
.box1 .anh2{
    width: 50px;
    height: 50px;
}

/* DƯỚI ĐÂY LÀ BÊN PHẢI ĐÃ XONG, VUI LÒNG KHÔNG ĐỤNG CHẠM VÀO CODE Ở DƯỚI NÀY!  */
.phai{
    margin-left: 100px;
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.menu{
    width: 100%;

}
.menu form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    border: 1px solid #DADCDF;
    margin: 100px 30px 0 100px;
    background-color: #fff;
    border-radius: 8px;
}

.bt{
    width: 90%;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 25px;
    border: 1px solid #8b8b8b;
}
.menu a{
    margin-top: 20px;
    font-size: 15px;
    text-decoration: none;
    color:#1877F3   ;
}
.dangki{
    background-color:#36A420;
    width: 50%;
    color: #fff;
    font-weight: 600;
    margin-top: 40px;
}
.dangnhap{
    color: #fff;
    font-size: 21px;
    background-color: #166FE5;
    font-weight: 600;
    margin-bottom: 10px;
}
.text{
    width: 30%px;
    margin: 50px 20px 0 100px;
    font-size: 13px;
    text-align: center;
}