*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.len a img{
    width: 50px;
    height: 50px;
}
.len{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.main{
    width: 100%;

}
.header{
    width: 100%;
    height: 100vh;

    background-image: url(https://i.pinimg.com/originals/84/0e/da/840edacc5bbe89da770c3880280d30a0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    letter-spacing: 2px;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 8% 0 8%;
    font-weight: 600;
    line-height: 40px;
}
.nav h2{
    color: white;
    font-size: 40px;
}
span{
    color: red;
    font-size: 40px;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav a{
    padding: 3px 60px;
    color: white;
    text-decoration: none;
}
button{
    background-color: red;
    padding: 3px 20px;
    border: none;
    border-radius: 18px;
    color: white;
    cursor: pointer;
}
button:hover{
    animation: btn 0.5s ease;
}

li> a:hover{
    color: red;
}
@keyframes btn{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.2;
    }
}
.text-nav{
    color: white;
    padding: 10% 8%;
}
.text-nav h1,.text-nav span{
    font-size: 50px;
    margin: 15px 0;
    font-weight: 800;
}
.text-nav h4{
    font-size: 20px;
}

.text-nav input{
    width: 50vh;
    height: 40px;
    border-radius: 18px;
    margin-top: 50px;
}
.text-nav button{
    position: absolute;
    margin-left: -90px;
    height: 30px;
    margin-top: 55.5px;
    
}
.text-nav input::placeholder{
    padding-left: 20px;
}

.about{
    width: 100%;
    min-height: 100vh;
    background-color: #3e3d3d;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}
.about img{
    display: block;
    margin-left: 15%;
    width: 25%;
    height: 600px;
}
.about .text{
    margin-left: 30px;
    margin-right: 15%;
    text-align: justify;
}
.text h1{
    font-size: 70px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.text span{
    font-size: 25px;

}
.text h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.text p{
    margin-bottom: 40px;
}
.text button{
    width: 150px;
    height: 30px;
}
.text button:hover{
    animation: none;
    background: none;
    border: red 1px solid;
}

.edu{
    padding-left: 150px;
    padding-right: 150px;
    min-height: 100vh;
    background-color: rgb(32, 31, 31);
    color: white;
    display: flex; 
    flex-direction: column;
    
}
.edu h1{
    text-align: center;
    font-size: 50px;
    margin: 160px 0 80px 0;
    font-weight: bolder;
}
.edu-list{
    display: flex;
}
.edu-list img{
    display: block;
    width: 50px; height: 50px;
}
.edu-list .item{
    width: calc(100%/3);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 20px 15px;
    background-color:#3e3d3d;
    border-radius: 20px;
}
.item h3{
    margin: 10px 0;
    font-weight: bold;
}
.item p{
    min-height: 130px;
}
.item2{
    margin: 0 20px;
}
.item button{
    margin-top: 10px;
    width: 150px;
    height: 30px;
}
.item button:hover{
    animation: none;
    background: none;
    border: red 1px solid;
}
.footer{
    height: 30vh;
    background-color:#3e3d3d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer span{
    font-size: 50px;

}
.footer h1{
    margin: 20px 0;
    font-size: 50px;
}
.footer p{
    font-size: 20px;
    margin-bottom: 20px;
}
.footer img{
    height: 40px;
    width: 40px;
}
.ft-lg a{
    margin: 0 10px;
}
